<div *ngIf="!showForm" class="start-form">
  <h2>Ficha de Anamnese</h2>
  <mat-card>
    <p>
      O objetivo da ficha de anamnese é fornecer ao profissional que irá atendê-lo informações importantes sobre sua saúde, rotina e possíveis impedimentos para a realização do procedimento de perfuração. Por isso, preencha a ficha com o máximo de sinceridade, a fim de evitar qualquer problema ou mal-entendido.
    </p>
  </mat-card>
  <button mat-raised-button color="primary" (click)="initForm()">Vamos começar</button>
</div>

<div *ngIf="showForm" class="form-anamnese">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    

    <div class="form-section" *ngFor="let question of questions; let i = index" [formGroupName]="i">
      <label class="question-label">{{ question.text }}</label>

      <!-- Texto -->
      <mat-form-field *ngIf="question.type === 'text'" appearance="fill" class="full-width">
        <input matInput [formControlName]="'answer'" placeholder="Resposta" />
      </mat-form-field>

      <!-- Multiple Choice -->
      <div *ngIf="question.type === 'multiplechoice'" class="multiple-choice">
        <mat-checkbox *ngFor="let option of question.options" 
                      [formControlName]="option.value"
                      class="rounded-checkbox">
          {{ option.label }}
        </mat-checkbox>
      </div>

      <!-- Boolean -->
      <mat-checkbox *ngIf="question.type === 'bool'" formControlName="answer" class="bool-checkbox">
        {{ question.label || 'Sim/Não' }}
      </mat-checkbox>
    </div>

    <button mat-raised-button color="accent" type="submit">Enviar</button>
  </form>
</div>
