<div class="form_login">

    <h3>Login</h3>
    
    <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput formcontrol="email">
       
    </mat-form-field>
    <mat-form-field>
        <mat-label>Senha:</mat-label>
        <input matInput type="password">
    </mat-form-field>

    <div class="button_send">
        <button mat-buttton (click)="login()">Enviar</button>
    </div>
    <div class="button_false">
        <button mat-buttton (click)="logout()">sair</button>
    </div>
</div>