
<!-- Montar layout animado  -->
 <!-- imagem de background -->
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

<header class="topbar">
    <div class="title">
        <h1>Personal Piercing de Luxo</h1>
    </div>
    <nav class="nav_bar">
        <ul>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Saiba Mais</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</header>

<!-- Conteúdo principal -->
<div class="main">
    <div class="title">
         <h3 class="title_catalogo">Catálogo de Piercings</h3>
    </div>
   

    <div class="catalogo">
        <app-card-piercing></app-card-piercing>
    </div>
</div>
 